# Dependências
node_modules/

# Variáveis de ambiente
.env

# Banco de dados
*.db
*.db-journal
prisma/migrations/

# Logs
logs/
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
