<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /esic-prefeitura/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /esic-prefeitura/index.html [L]
</IfModule>
